.box{
    height: 200px;
    width: 300px;
}

.responsive-box {
    width: 50 vw;
    height: 50 vh; 
}

.custom-padding {
    padding: 10px 20px;
}

.border-box {
    border: 2px;
color: black;
    }

.rounded-border {
    border: 3px; 
    border: dotted red;
    border-radius: 15px;
}

.margin-text {
    margin: 30px;
}

.custom-margin {
    margin: 20px 40px;
}

.inline-element {
    display: inline;
}

.block-element {
    display: block;
}

.inline-block-element {
    display: inline-block;
}

.hidden-element {
    display: none;
}

.visible-element {
    visibility: visible;
}

.invisible-element{
    visibility: hidden;
}

.transparent-box {
    background-color: blue;
    opacity: 0.5
}